:root {
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #E5E5E5;
}

/**************** hero-box ****************/
.hero__box {
    width: 683px;
    margin: 161px auto;
    border-radius: 10px;
    border: 2px #fff solid;
    background-color: #fff;
    padding: 100px 100px;
    box-shadow:  10px 10px rgba(0, 0, 0, 0.08);
    /************* try__it__now ***************/
}

.try__it__now {
    font-family: 'Merriweather', serif;
    font-size: 2.625rem;
    color: #000000;
}

.free__trial {
    font-size: 1.375rem;
    margin-top: 14px;
}

/************* sign__up__screen ***************/

.sign__up__screen {
    display: flex;
    flex-direction: column;

}

.work__email__adress__input {
    border: 1px #000000 solid;
    border-radius: 4px;
    width: 483px;
    height: 77px;
    margin-top: 10px;

}

.work__email__adress {
    margin-top: 50px;
    font-size: 1.125rem;
    color: #6D6D6D;
}

input[type="text"]::placeholder {
padding: 25px 187px 25px 25px;
color: #000000 solid;
font-size: 1.125rem;
}

/************* checkbox__input__label ***************/



.checkbox__input__label {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.input__box__1 {
    width: 38px;
    height: 38px;
    cursor: pointer;

}

.terms__and__conditions {
    color: blueviolet;
    text-decoration: none;
}


.input__box__2 {
    width: 38px;
    height: 38px;
    cursor: pointer;

}

.input__box__3 {
    width: 38px;
    height: 38px;
    cursor: pointer;

}



/************* download__now ***************/

.download__now {
    margin-top: 50px;

}

.download__now__button {
    width: 483px;
    height: 77px;
    color: #fff;
    background-color: #000000;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 25px 0;
    cursor: pointer;
    border: 1px #000000 solid;
    border-radius: 4px;
}

.download__now__button:hover {
    color: #000000;
    background-color: #fff;
}

/************ we__value__text *************/

.we__value__text {
    margin-top: 25px;
}

.privacy__policy {
    color: blueviolet;
    text-decoration: none;
}